language: ruby
rvm:
#  - "1.8.7"
#  - "1.9.2"
  - "1.9.3"
#  - jruby-18mode # JRuby in 1.8 mode
#  - jruby-19mode # JRuby in 1.9 mode
#  - rbx-18mode
# uncomment this line if your project needs to run something other than `rake`:
# script: bundle exec rspec spec


before_install:
 # - gem update # optional, update all gems
 # - phantomjs --version # optional, output the phantomjs version
 # - gem install sqlite3
   - gem install selenium-webdriver
   - gem install rack
   - bundle install
   - rake db:create
   - rake db:migrate
    

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 4
  - rackup -D
  - sleep 4

#after_success:
#  "wget -r ftp://162.243.116.33"
deploy:
  provider: heroku
  api_key: "2666ec61-d50c-47ba-a06b-517f3b3feccb"
  app: protected-sands-5048
#deploy:
#  provider: openshift
#  user: "bird_chairez@hotmail.com"
#  password: "12345678" # can be encrypted
#  domain: "blogvyvs"

  # 12345678Ma
# deploy:
 # provider: rubygems
 # api_key: "fea469cb25377e067f2cdf9a301d0c46"

# deploy:
 # provider: cloudcontrol
 # email: "bird_chairez@hotmail.com"
 # password: "12345678"
 # deployment: "blogvyvsw/master"