language: ruby
rvm:
#  - "1.8.7"
#  - "1.9.2"
  - "1.9.3"
#  - jruby-18mode # JRuby in 1.8 mode
#  - jruby-19mode # JRuby in 1.9 mode
#  - rbx-18mode
# uncomment this line if your project needs to run something other than `rake`:
# script: bundle exec rspec spec
before_install:
  - gem update # optional, update all gems
  - gem install selenium-webdriver
  - phantomjs --version # optional, output the phantomjs version
 # - gem install sqlite3

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 4 # give xvfb some time to start
  - rackup  # start a Web server
  - sleep 4 # give Web server some time to bind to sockets, etc