<h1 align="center"> Proyecto de validación y verificación de Software </h>
	<br>

	<br><br>
	<div align="center" class="text-success">
	<h2 > Alumnos.</h2>
	<h3>Manuel Alberto Chairez Alvarado.</h3>
	<h3>Jesús Martín García Ramírez.</h3>
	<h3>Heltton Emmanuel Ramírez Luna.</h3>
</div>
	<br>

	<%= link_to "Entrar al Blog",{ :controller => "posts" }, :class => 'btn btn-large btn-primary' %>